<nav class="w-full bg-indigo-400">
    <div class="container w-full px-4">
        <ul class="w-full flex justify-start capitalize text-slate-700 text-xl font-medium">
            <li class="p-5 hover:text-white hover:underline transition duration-300"><a href="/">home</a></li>
            <li class="p-5 hover:text-white hover:underline transition duration-300"><a href="/about">about</a></li>
            <li class="p-5 hover:text-white hover:underline transition duration-300"><a href="/contact">contact</a></li>
        </ul>
    </div>
</nav>